<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.number_field :sku %>
  </div>
  <div class="field">
    <%= f.label :special %><br>
    <%= f.text_field :special %>
  </div>
  <div class="field">
    <%= f.label :normal %><br>
    <%= f.text_field :normal %>
  </div>
  <div class="field">
    <%= f.label :diff %><br>
    <%= f.text_field :diff %>
  </div>
  <div class="field">
    <%= f.label :aisle %><br>
    <%= f.text_field :aisle %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
