<div class="row"></div>
<div class="row">
  <h1>Cheapest Price for Supermarket Product<br/></h1>
  <h2>Since <%= @counter %> <% if(@counter == 0 or @counter == 1) %> Week <% else %> Weeks <% end %> Ago</h2>

  <h5>
  <p>With this list, you should be able to gauge an item that you are purchasing at it's lowest price.<br/>
  You can now sort the list by any column in ascending or descending order. <br/>
  More improvements will be added in time. </p>
  <p>In the discount column, if the price difference is more than 30% of it's original price, it will be highlighted in green, more than 50% with yellow.</p>

  <p>If you like this compilation, please donate to<br/>
  bitcoin address: 1JuNraU9vZyFxVqmUbTMJFFFFvzj1SHC48<br/>
  paypal address: daniel.ltw@gmail.com</p></h5>

  <table>
    <thead>
      <div class="row">
        <tr>
          <!-- <th><%#= sortable "Index".downcase %></th> -->
          <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><%= sortable "Name".downcase %></th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= sortable "Volume".downcase %></th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= sortable "Sku".downcase %></th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= sortable "Special".downcase %></th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= sortable "Normal".downcase %></th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= sortable "Diff".downcase, "Difference" %></th>
          <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><%= sortable "Aisle".downcase %></th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><%= sortable "Discount".downcase %></th>
        </tr>
      </div>
    </thead>

    </tbody>
  </table>
</div>
<br>
