<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @product.volume %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Special:</strong>
  <%= @product.special %>
</p>

<p>
  <strong>Normal:</strong>
  <%= @product.normal %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @product.diff %>
</p>

<p>
  <strong>Aisle:</strong>
  <%= @product.aisle %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<%= link_to 'Back', products_path %>
