<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to(@product.name, @product.link_to_cd) %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @product.volume %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Special:</strong>
  <%= number_to_currency(@product.special, unit: "NZD$", format: "%u %n") %>
</p>

<p>
  <strong>Normal:</strong>
  <%= number_to_currency(@product.normal, unit: "NZD$", format: "%u %n") %>
</p>

<p>
  <strong>Difference/Variance:</strong>
  <%= number_to_currency(@product.diff, unit: "NZD$", format: "%u %n") %>
</p>

<p>
  <strong>Aisle:</strong>
  <%= @product.aisle %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<%= render partial: 'basic_chart' %>

<%= link_to 'Back', products_path %>
