<% set_meta_tags title: @product.name + ' | ' + @product.volume %>
<% set_meta_tags description: @product.name + ', ' + @product.volume  + '. ' + @product.aisle %>
<% set_meta_tags keywords: @product.aisle
                           .split(',').map(&:strip)
                           .append(@product.volume)
                           .append('lowest')
                           .append('price')
                           .append('discount')
                           .append('history chart')
                           .append('price history')
                           .append('price trend')
                           .append('nz') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to(@product.name, @product.link_to_cd) %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @product.volume %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Special:</strong>
  <%= number_to_currency(@product.special, unit: "NZD$", format: "%u %n") %>
</p>

<p>
  <strong>Normal:</strong>
  <%= number_to_currency(@product.normal, unit: "NZD$", format: "%u %n") %>
</p>

<p>
  <strong>Difference/Variance:</strong>
  <%= number_to_currency(@product.diff, unit: "NZD$", format: "%u %n") %>
</p>

<p>
  <strong>Aisle:</strong>
  <%= @product.aisle %>
</p>

<p>
  <strong>Discount:</strong>
  <%= number_to_percentage(@product.discount * 100, precision: 3) %>
</p>

<%= javascript_include_tag 'https://code.highcharts.com/highcharts.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'https://code.highcharts.com/highcharts-more.js', 'data-turbolinks-track' => true %>

<%= render partial: 'basic_chart', locals: { prices: @prices_history } %>
<%= render partial: 'day_of_week_chart', locals: { day_of_week: @day_of_week } %>
<%= render partial: 'month_of_year_chart', locals: { month_of_year: @month_of_year } %>

<%= link_to 'Back', :back %>
