<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'Supermarket Lowest Price' %>
  <title>Value and Prices, Supermarket Lowest Price</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
<script>
  var scrl = " Value and Prices, Supermarket Lowest Price ";
  function scrlsts() {
    scrl = scrl.substring(1, scrl.length) + scrl.substring(0, 1);
    document.title = scrl;
    setTimeout("scrlsts()", 300);
  }
  scrlsts()
</script>
